.login-container {
  display: flex;
  justify-content: space-between;
  justify-items: center;
}

.login-bg {
  background: linear-gradient(135deg, #00aa4f, #3b82f6);
}

.full-width {
  width: 100%;
}

.error-message {
  color: #dc2626;
}

.welcome-container {
  background-color: #dc2626;
  height: 100%;
  width: 50%;
}