<div class="sidebar-content">
  <div class="user-info">
    <div class="user-icon-container">
      <mat-icon matListIcon class="account-icon">account_circle</mat-icon>
    </div>

    <span class="user-name">
      {{ user?.name }} {{ user?.surname }}
    </span>

    <span class="user-username">
      {{ user?.username }}
    </span>
  </div>

  <mat-nav-list class="sidenav-items">
    <!-- Home -->
    <a mat-list-item routerLink="/home" (click)="goToHome()">
      <mat-icon matListIcon>home</mat-icon>
      <span class="nav-text">{{ translationService.translate('MENU.HOME.TITLE') }}</span>
    </a>

    @if (user?.role?.includes('admin')) {
    <!-- Users -->
    <a mat-list-item routerLink="/users" (click)="goToUsers()">
      <mat-icon matListIcon>group</mat-icon>
      <span class="nav-text">
        {{ translationService.translate('MENU.ADMINISTRATION.USERS') }}
      </span>
    </a>

    <!-- Roles -->
    <a mat-list-item routerLink="/roles" (click)="goToRoles()">
      <mat-icon matListIcon>verified_user</mat-icon>
      <span class="nav-text">
        {{ translationService.translate('MENU.ADMINISTRATION.ROLES') }}
      </span>
    </a>
    }
  </mat-nav-list>
</div>