<div class="sidebar-content">
  <div class="user-info">
    <div class="user-icon-container">
      <mat-icon matListIcon class="account-icon">account_circle</mat-icon>
    </div>

    <span class="user-name">
      {{ user?.name }} {{ user?.surname }}
    </span>

    <span class="user-username">
      {{ user?.username }}
    </span>
  </div>

  <mat-nav-list class="sidenav-items">
    <!-- Home -->
    <a mat-list-item routerLink="/home" (click)="goToHome()">
      <mat-icon matListIcon>home</mat-icon>
      <span class="nav-text">{{ translationService.translate('MENU.HOME.TITLE') }}</span>
    </a>

    @if (user?.role?.includes('admin')) {
    <!-- Users -->
    <a mat-list-item routerLink="/users" (click)="goToUsers()">
      <mat-icon matListIcon>group</mat-icon>
      <span class="nav-text">
        {{ translationService.translate('MENU.ADMINISTRATION.USERS') }}
      </span>
    </a>

    <!-- Roles -->
    <a mat-list-item routerLink="/roles" (click)="goToRoles()">
      <mat-icon matListIcon>verified_user</mat-icon>
      <span class="nav-text">
        {{ translationService.translate('MENU.ADMINISTRATION.ROLES') }}
      </span>
    </a>
    }

    <!-- Amministrazione -->
    <!-- @if (hasAdminPermissions()) {
    <mat-list-item (click)="toggleAdminMenu()" class="nav-link expandable">
      <mat-icon matListIcon>admin_panel_settings</mat-icon>
      <span class="nav-text">
        {{ 'MENU.ADMINISTRATION.ADMIN' | translate }}
      </span>
      <mat-icon class="expand-icon">
        {{ adminMenuOpen ? 'expand_less' : 'expand_more' }}
      </mat-icon>
    </mat-list-item>

    @if (adminMenuOpen) {
    <div class="sub-menu">
      <a *appHasAuthority="'VIEW_USER'" mat-list-item (click)="goToUsers()"
        [ngClass]="{ 'ubq-sidenav-item-current': isActive('/admin/users') }">
        <mat-icon matListIcon>people</mat-icon>
        <span class="nav-text">
          {{ 'MENU.ADMINISTRATION.USERS' | translate }}
        </span>
      </a>

      <a *appHasAuthority="'VIEW_ROLE'" mat-list-item (click)="goToRole()"
        [ngClass]="{ 'ubq-sidenav-item-current': isActive('/admin/roles') }">
        <mat-icon matListIcon>security</mat-icon>
        <span class="nav-text">
          {{ 'MENU.ADMINISTRATION.ROLES' | translate }}
        </span>
      </a>

      <a *appHasAuthority="'VIEW_PROFILE'" mat-list-item (click)="goToProfiles()"
        [ngClass]="{ 'ubq-sidenav-item-current': isActive('/profiles') }">
        <mat-icon matListIcon>people</mat-icon>
        <span class="nav-text">
          {{ 'MENU.ADMINISTRATION.PROFILES' | translate }}
        </span>
      </a>

      <a *appHasAuthority="'VIEW_ADMIN_SETTINGS'" mat-list-item (click)="goToConfiguratio()"
        [ngClass]="{ 'ubq-sidenav-item-current': isActive('/admin/settings') }">
        <mat-icon matListIcon>settings</mat-icon>
        <span class="nav-text">
          {{ 'MENU.ADMINISTRATION.SETTINGS' | translate }}
        </span>
      </a>

      <a *appHasAuthority="'VIEW_LIBRARY'" mat-list-item (click)="goToLibraries()"
        [ngClass]="{ 'ubq-sidenav-item-current': isActive('/admin/libraries') }">
        <mat-icon matListIcon>library_books</mat-icon>
        <span class="nav-text">
          {{ 'MENU.ADMINISTRATION.LIBRARIES' | translate }}
        </span>
      </a>
    </div>
    }
    } -->

    <!-- Guida Tema -->
    <!-- <mat-list-item (click)="toggleGuideMenu()" class="nav-link expandable">
      <mat-icon>library_books</mat-icon>
      <span class="nav-text">
        {{ 'MENU.THEME.THEME' | translate }}
      </span>
      <mat-icon class="expand-icon">
        {{ guideMenuOpen ? 'expand_less' : 'expand_more' }}
      </mat-icon>
    </mat-list-item>

    @if (guideMenuOpen) {
    <div class="sub-menu">
      <a mat-list-item (click)="goToColors()" [ngClass]="{ 'ubq-sidenav-item-current': isActive('/theme/colors') }">
        <span class="nav-text">
          {{ 'MENU.THEME.COLORS' | translate }}
        </span>
      </a>

      <a mat-list-item (click)="goToButtons()" [ngClass]="{ 'ubq-sidenav-item-current': isActive('/theme/buttons') }">
        <span class="nav-text">
          {{ 'MENU.THEME.BUTTONS' | translate }}
        </span>
      </a>

      <a mat-list-item (click)="goToTables()" [ngClass]="{ 'ubq-sidenav-item-current': isActive('/theme/tables') }">
        <span class="nav-text">
          {{ 'MENU.THEME.TABLES' | translate }}
        </span>
      </a>

      <a mat-list-item (click)="goToDatetime()" [ngClass]="{ 'ubq-sidenav-item-current': isActive('/theme/datetime') }">
        <span class="nav-text">
          {{ 'MENU.THEME.DATETIME' | translate }}
        </span>
      </a>
    </div>
    } -->
  </mat-nav-list>
</div>